<div class="image-container">
  <%= image_tag("landing_page.jpg", class: "landing-page-photo") %>
  <div class="image-text">
    What if you could increase your wealth 
    by $155,000 for free, in under 4 minutes?
  </div>
  <%= link_to 'Find Your Wealth Boost in 60 seconds', new_user_path, class: "wealth-boost-button button" %>
</div>