<h1 class="wealth-boost-header">Switch to a low cost portfolio today to boost your wealth by <span><%= number_to_currency(@wealth_boost) %></span></h1>

<div class="row">
  <div class="large-centered columns">
    <%= bar_chart({"Current Portfolio" => @current_port, "Low Fee Port" => @low_fee_port}) %>
  </div>
</div>

<div class="row">
  <div class="large-centered columns">
    <%= column_chart @wealth_boosts.group(:year).sum(:wealth_boost) %>
  </div>
</div>

<%= link_to "Create Account", user_path(@user), method: "PUT", class: "button" %>