<div id="<%= @user.id %>" class="account-types-container">
  <div class="account-type">
    <div id=1 class="account-type-text">
      Company Sponsored Investment Plan
    </div>
  </div>
  <div class="account-type">
    <div id=2 class="account-type-text">
      Online Investment Manager <br>
      (e.g WealthBar, Wealth Simple)
    </div>
  </div>
  <div class="account-type">
    <div id=3 class="account-type-text">
      Financial Advisor Managed Account
    </div>
  </div>
  <div class="account-type">
    <div id=4 class="account-type-text">
      Personal Online Investment Account <br>
      (TD Ameritrade, Fidelity, etc..)
    </div>
  </div>
  <div class="account-type">
    <div id=5 class="account-type-text">
      Pension Fund
    </div>
  </div>
  <div class="account-type">
    <div id=6 class="account-type-text">
      I don't know
    </div>
  </div>
</div>

<div align="center">
    <a href="#" id="account-types-form" class="button">Continue</a>
</div>

